body{
    background-image: url(../img/pattern.jpg);
    margin: 0px;
}
header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}

li {
    display: inline;
    margin: 10px;
}

a{
    text-decoration: none;
}

a:hover {
    color: tomato;
}

section {
    margin: 100px 200px 30px;
    background-color: white;
    padding: 10px;
}

h1{
    text-align: center;
}

article {
    border-bottom: solid black 2px;
}

footer {
    background-color: black;
}
h5{
    color: white;
    text-align: center;
    padding: 20px;
}